![New York City schoolbus](schoolbus.jpg)

Photo by [Jannis Lucas](https://unsplash.com/@jannis_lucas) on [Unsplash](https://unsplash.com).
<br>

Every year, American high school students take SATs, which are standardized tests intended to measure literacy, numeracy, and writing skills. There are three sections - reading, math, and writing, each with a **maximum score of 800 points**. These tests are extremely important for students and colleges, as they play a pivotal role in the admissions process.

Analyzing the performance of schools is important for a variety of stakeholders, including policy and education professionals, researchers, government, and even parents considering which school their children should attend. 

You have been provided with a dataset called `schools.csv`, which is previewed below.

You have been tasked with answering three key questions about New York City (NYC) public school SAT performance.

In [16]:
# Re-run this cell 
import pandas as pd

# Read in the data
schools = pd.read_csv("schools.csv")

# Preview the data
schools.head()

                                         school_name  ... percent_tested
0  New Explorations into Science, Technology and ...  ...            NaN
1                               Essex Street Academy  ...           78.9
2                       Lower Manhattan Arts Academy  ...           65.1
3    High School for Dual Language and Asian Studies  ...           95.9
4      Henry Street School for International Studies  ...           59.7

[5 rows x 7 columns]

## 1 - Which NYC schools have the best math results?

In [17]:
# Get the average_math values equal or higher than 800*0.8 and sort descending by average_math
best_math_scores = schools[schools["average_math"] >= 800*0.8].sort_values(by="average_math", ascending=False)

# store school_name and average in a DataFrame
best_math = best_math_scores[["school_name", "average_math"]]
best_math_schools = pd.DataFrame(best_math)

# print the best_math_schools DataFrame
print(best_math_schools)

                                           school_name  average_math
88                              Stuyvesant High School           754
170                       Bronx High School of Science           714
93                 Staten Island Technical High School           711
365  Queens High School for the Sciences at York Co...           701
68   High School for Mathematics, Science, and Engi...           683
280                     Brooklyn Technical High School           682
333                        Townsend Harris High School           680
174  High School of American Studies at Lehman College           669
0    New Explorations into Science, Technology and ...           657
45                       Eleanor Roosevelt High School           641

## 2 - What are the top 10 performing schools based on the combined SAT scores?

In [18]:
# Calculate total SAT score for each school
schools["total_SAT"] = schools["average_math"] + schools["average_reading"] + schools["average_writing"]

# Select top 10 schools based on total SAT score
top_10_schools = schools[["school_name", "total_SAT"]].sort_values(by="total_SAT", ascending=False).head(10)

print(top_10_schools)

                                           school_name  total_SAT
88                              Stuyvesant High School       2144
170                       Bronx High School of Science       2041
93                 Staten Island Technical High School       2041
174  High School of American Studies at Lehman College       2013
333                        Townsend Harris High School       1981
365  Queens High School for the Sciences at York Co...       1947
5                       Bard High School Early College       1914
280                     Brooklyn Technical High School       1896
45                       Eleanor Roosevelt High School       1889
68   High School for Mathematics, Science, and Engi...       1889

## 3 - Which single borough has the largest standard deviation in the combined SAT score?

In [19]:

# Group data by borough and calculate statistics
grouped = schools.groupby("borough").agg(
    num_schools=("school_name", "count"),
    average_SAT=("total_SAT", "mean"),
    std_SAT=("total_SAT", "std")
).reset_index()

# Find the borough with the largest standard deviation
largest_std_dev = grouped[grouped["std_SAT"] == grouped["std_SAT"].max()]

# Round numeric values to two decimal places
largest_std_dev = largest_std_dev.round(2)

print(largest_std_dev)

     borough  num_schools  average_SAT  std_SAT
2  Manhattan           89      1340.13   230.29